{{ $styles := resources.Get "css/main.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $styles.Permalink }}" media="screen"/>
{{ $buttonstyles := resources.Get "css/buttons.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $buttonstyles.Permalink }}" media="screen"/>
{{ $dropdownstyles := resources.Get "css/dropdowns.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $dropdownstyles.Permalink }}" media="screen"/>
{{ $checkboxstyles := resources.Get "css/checkboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $checkboxstyles.Permalink }}" media="screen"/>
{{ $inputboxstyles := resources.Get "css/inputboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $inputboxstyles.Permalink }}" media="screen"/>
{{ $initializejs := resources.Get "js/initialize.js" }}
<script src="{{ $initializejs.Permalink }}"></script>
{{ $cryptographyjs := resources.Get "js/cryptography.js" }}
<script src="{{ $cryptographyjs.Permalink }}"></script>
{{ $localstoragejs := resources.Get "js/localstorage.js" }}
<script src="{{ $localstoragejs.Permalink }}"></script>
{{ $RESTinteractionsjs := resources.Get "js/REST_interactions.js" }}
<script src="{{ $RESTinteractionsjs.Permalink }}"></script>
{{ partial "header.html" . }}
 <body>
  <div class="bodydiv">
   {{ $logo := resources.Get "images/atomicanalogslogo1-colorinverted.png" }}
   <a href="/">
   <img src="{{ $logo.Permalink }}" class="logo">
   </a>
   <h1>{{ .Title }}</h1>
   {{ .Content }}
   <div class="initialize-grid-container">
     <div class="chainSelector">
       <nav class="chainSelectorNav">
         <menu>
           <menuitem id="chainSelector">
           <a>Select Chain</a>
           <menu>
             <menuitem onclick="showHideChainInitUI('Ergo')">
             <a>Ergo Testnet</a>
             </menuitem>
             <menuitem>
             <a>Sepolia</a>
             </menuitem>
           </menu>
           </menuitem>
         </menu>
       </nav>
     </div>
     <div class="webflow-style-input">
       <input class="accountName" type="accountName" id="accountName" placeholder="Account Name"></input>
     </div>
     <div class="ergoAccountSetupBox" id="ergoAccountSetupBox">
       <div class="webflow-style-input">
         <input class="nodeurlsetup" type="nodeurlsetup" id="nodeurlsetup" placeholder="Ergo TestNet Node URL"></input>
       </div>
       <div class="webflow-style-input">
         <input class="mnemonicsetup" type="menmonicsetup" id="mnemonicsetup" placeholder="Ergo Mnemonic Phrase"></input>
       </div>
       <div class="webflow-style-input">
         <input class="mnemonicPassSetup" type="menmonicPassSetup" id="mnemonicPassSetup" placeholder="Ergo Mnemonic Password"></input>
       </div>
       <div class="webflow-style-input">
         <input class="ErgoEIP3SecretSetup" type="ErgoEIP3SecretSetup" id="ErgoEIP3SecretSetup"  placeholder="Ergo EIP3 (Address Index)"></input>
       </div>
       <div class="webflow-style-input">
         <input class="ErgoPubkeySetup" type="ErgoPubkeySetup" id="ErgoPubkeySetup" placeholder="Ergo PublicKey Address"></input>
       </div>
       <div class="webflow-style-input">
         <input class="ErgoExplorerAPISetup" type="ErgoExplorerAPISetup" id="ErgoExplorerAPISetup"  placeholder="Ergo Explorer API URL"></input>
       </div>
       <div>
         <button class="button1" class="accountSetupButton" onclick="initializeErgoAccountUI_clickAttempt()" >  {{ .Params.accountSetupButton }}</button>
       </div>
     </div>
   </div>
  </div>
 </body>
{{ partial "footer.html" . }}
