{{ $styles := resources.Get "css/main.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $styles.Permalink }}" media="screen"/>
{{ $buttonstyles := resources.Get "css/buttons.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $buttonstyles.Permalink }}" media="screen"/>
{{ $dropdownstyles := resources.Get "css/dropdowns.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $dropdownstyles.Permalink }}" media="screen"/>
{{ $checkboxstyles := resources.Get "css/checkboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $checkboxstyles.Permalink }}" media="screen"/>
{{ $inputboxstyles := resources.Get "css/inputboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $inputboxstyles.Permalink }}" media="screen"/>
{{ $marketjs := resources.Get "js/market.js" }}
<script src="{{ $marketjs.Permalink }}"></script>
{{ $pricetoolsjs := resources.Get "js/price_tools.js" }}
<script src="{{ $pricetoolsjs.Permalink }}"></script>
{{ $cryptographyjs := resources.Get "js/cryptography.js" }}
<script src="{{ $cryptographyjs.Permalink }}"></script>
{{ $localstoragejs := resources.Get "js/localstorage.js" }}
<script src="{{ $localstoragejs.Permalink }}"></script>
{{ $RESTinteractionsjs := resources.Get "js/REST_interactions.js" }}
<script src="{{ $RESTinteractionsjs.Permalink }}"></script>
{{ $ElGamaljs := resources.Get "js/ElGamal.js" }}
<script src="{{ $ElGamaljs.Permalink }}"></script>
{{ $onload_marketjs := resources.Get "js/onload_market.js" }}
<script src="{{ $onload_marketjs.Permalink }}"></script>
{{ $activeSwapModaljs := resources.Get "js/activeSwapModal.js" }}
<script src="{{ $activeSwapModaljs.Permalink }}"></script>
{{ $activeSwapSliderjs := resources.Get "js/activeSwapSlider.js" }}
<script src="{{ $activeSwapSliderjs.Permalink }}"></script>
{{ $orderRepListjs := resources.Get "js/orderRepList.js" }}
<script src="{{ $orderRepListjs.Permalink }}"></script>
{{ $swapClaimingjs := resources.Get "js/swapClaiming.js" }}
<script src="{{ $swapClaimingjs.Permalink }}"></script>
{{ partial "header.html" . }}
 <body>
  <div class="bodydiv">
   <a href="/">
   {{ $logo := resources.Get "images/atomicanalogslogo1-colorinverted.png" }}
   <img src="{{ $logo.Permalink }}" class="logo">
   </a>
   <h1>{{ .Title }}</h1>
   {{ .Content }}
   <div class="market-grid-container">
     <div class="api-grid-container">
        <div class="apiSetupPromptContainer" >
		<h1>
		{{ .Params.apiSetupPrompt }}
		</h1>
        </div>
        <div class="apiURLInputContainer">
		<div class="webflow-style-input" class="marketAPIInput">
                  <input class="marketnamesetup" id="marketnamesetup" placeholder="Swap Market Name"></input>
                </div>
		<div class="webflow-style-input" class="marketAPIInput">
               	  <input class="marketapisetup" id="marketapisetup" placeholder="Swap Market API URL"></input>
	        </div>
        </div>
        <div class="submitAPISetupContainer">
		<h1>{{ .Params.submitapibuttonprompt }}</h1>
		<form >
                  <button class="button1" class="submitAPISetupButton" onclick="addMarket()"  type="button">  {{ .Params.submitAPISetupButton }}</button>
	        </form>
        </div>
     </div>
     <div class="marketWidgetsContainer">
       <div class="marketCoinSelectorContainer">
	 <div class="checkboxErgoTestnet" >
           {{ $ergo := resources.Get "images/ErgoTestnetTransparentWhite.png" }}
           <img src="{{ $ergo.Permalink }}" class="ergoTestnetCheckboxImage">
           <div class="checkbox-wrapper-59">
             <label class="switch"><input type="checkbox"><span class="slider"></span></label>
           </div>
         </div>
	 <div class="checkboxSepolia" >
           {{ $sepolia := resources.Get "images/Sepolia-Ethereum-Logo-PNG-tranparentBG.png" }}
           <img src="{{ $sepolia.Permalink }}" class="sepoliaCheckboxImage">
           <div class="checkbox-wrapper-59">
             <label class="switch"><input type="checkbox"><span class="slider"></span></label>
           </div>
       	 </div>
       </div>
     <div class="marketOrderInfoContainer" id="marketOrderInfoContainer">
	   <div class="marketOrderInfoHeaderContainer">
		     <h1>Market Name</h1>
		     <h1>Offering Coin</h1>
		     <h1>Accepting Coin</h1>
		     <h1>Minimum Vol</h1>
		     <h1>Maximum Vol</h1>
		     <h1>Offer Price</h1>
	   </div>
       </div>
     </div>
     <div>
       <div class="swapClaimWindow" id="swapClaimWindow">
	       	<h1>Amount to Fund:</h1>
		<div class="webflow-style-input" class="marketAPIInput">
                  <input class="coinBEntry" id="coinBEntry" placeholder=""></input>
                </div>
		<h1>Est. Received:</h1>
		<h1 id="coinAConvertedValue"></h1>
		<h1 id="estReceivedCoinA"></h1>
                <form >
                  <button class="button1" 
			  id="claimSwapButton" 
			  type="button">
		  {{ .Params.swapButton }}
		  </button>
                </form>
       </div>
       <div class="activeSwaps" id="activeSwaps">
	 <h2>Active Swaps:</h2>
	 <div class="activeSwapSlider" id="activeSwapSlider">
         </div> 
       </div>
     </div>
   </div>
  </div>
 </body>
 {{partial "swapdialog.html" . }}
{{ partial "footer.html" . }}
