{{ $styles := resources.Get "css/main.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $styles.Permalink }}" media="screen"/>
{{ $buttonstyles := resources.Get "css/buttons.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $buttonstyles.Permalink }}" media="screen"/>
{{ $dropdownstyles := resources.Get "css/dropdowns.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $dropdownstyles.Permalink }}" media="screen"/>
{{ $checkboxstyles := resources.Get "css/checkboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $checkboxstyles.Permalink }}" media="screen"/>
{{ $inputboxstyles := resources.Get "css/inputboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $inputboxstyles.Permalink }}" media="screen"/>
{{ $marketjs := resources.Get "js/market.js" | minify }}
<script src="{{ $marketjs.Permalink }}"></script>
{{ partial "header.html" . }}
 <body>
  <div class="bodydiv">
   <a href="/">
   {{ $logo := resources.Get "images/atomicanalogslogo1-colorinverted.png" }}
   <img src="{{ $logo.Permalink }}" class="logo">
   </a>
   <h1>{{ .Title }}</h1>
   {{ .Content }}
   <div class="deletelocalstoragebuttonbox">
	   <div>
	   <h1>
	     {{ .Params.DeleteLocalStoragePrompt }}
	   </h1>
	   </div>
	   <div>
           <button type="button" class="button1" class="deletelocalstoragbutton" onclick="deleteLocalstorage()">  
		   {{ .Params.Delete }}
	   </button>
	   </div>
   </div>
   <div class="saveElGamalKeybuttonbox">
           <div>
           <h1>
             {{ .Params.ElGamalPubKeyPrompt }}
           </h1>
           </div>
	   <div class="webflow-style-input" class="marketAPIInput">
                  <input class="ElGamalKeyEntry" id="ElGamalKeyEntry" placeholder=""></input>
           </div>
           <div>
           <button type="button" class="button1" clas="saveElGamalKeyButton" onclick="saveElGamalKey()">
                   {{ .Params.Save }}
           </button>
           </div>
   </div>
  </div>
 </body>
{{ partial "footer.html" . }}
