{{ $styles := resources.Get "css/main.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $styles.Permalink }}" media="screen"/>
{{ $buttonstyles := resources.Get "css/buttons.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $buttonstyles.Permalink }}" media="screen"/>
{{ $dropdownstyles := resources.Get "css/dropdowns.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $dropdownstyles.Permalink }}" media="screen"/>
{{ $checkboxstyles := resources.Get "css/checkboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $checkboxstyles.Permalink }}" media="screen"/>
{{ $inputboxstyles := resources.Get "css/inputboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $inputboxstyles.Permalink }}" media="screen"/>
{{ $scrollbarstyles := resources.Get "css/scrollbars.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $scrollbarstyles.Permalink }}" media="screen"/>
{{ $marketjs := resources.Get "js/market.js" }}
<script src="{{ $marketjs.Permalink }}"></script>
{{ $pricetoolsjs := resources.Get "js/price_tools.js" }}
<script src="{{ $pricetoolsjs.Permalink }}"></script>
{{ $cryptographyjs := resources.Get "js/cryptography.js" }}
<script src="{{ $cryptographyjs.Permalink }}"></script>
{{ $localstoragejs := resources.Get "js/localstorage.js" }}
<script src="{{ $localstoragejs.Permalink }}"></script>
{{ $RESTinteractionsjs := resources.Get "js/REST_interactions.js" }}
<script src="{{ $RESTinteractionsjs.Permalink }}"></script>
{{ $ElGamaljs := resources.Get "js/ElGamal.js" }}
<script src="{{ $ElGamaljs.Permalink }}"></script>
{{ $onload_marketjs := resources.Get "js/onload_market.js" }}
<script src="{{ $onload_marketjs.Permalink }}"></script>
{{ $activeSwapModaljs := resources.Get "js/activeSwapModal.js" }}
<script src="{{ $activeSwapModaljs.Permalink }}"></script>
{{ $activeSwapSliderjs := resources.Get "js/activeSwapSlider.js" }}
<script src="{{ $activeSwapSliderjs.Permalink }}"></script>
{{ $orderRepListjs := resources.Get "js/orderRepList.js" }}
<script src="{{ $orderRepListjs.Permalink }}"></script>
{{ $swapClaimingjs := resources.Get "js/swapClaiming.js" }}
<script src="{{ $swapClaimingjs.Permalink }}"></script>
{{ $settingsjs := resources.Get "js/settings.js" }}
<script src="{{ $settingsjs.Permalink }}"></script>

{{ partial "header.html" . }}
 <body>
  <div class="bodydiv">
   <a href="/">
   {{ $logo := resources.Get "images/atomicanalogslogo1-colorinverted.png" }}
   <img src="{{ $logo.Permalink }}" class="logo">
   </a>
   <h1>{{ .Title }}</h1>
   {{ .Content }}
   <div class="deletelocalstoragebuttonbox">
	   <div>
	   <h1>
	     {{ .Params.DeleteLocalStoragePrompt }}
	   </h1>
	   </div>
	   <div>
           <button type="button" class="button1" class="deletelocalstoragbutton" onclick="deleteLocalstorage()">  
		   {{ .Params.Delete }}
	   </button>
	   </div>
   </div>
   <div class="saveElGamalKeybuttonbox">
           <div>
           <h1>
             {{ .Params.ElGamalPubKeyPrompt }}
           </h1>
           </div>
	   <div class="webflow-style-input" class="marketAPIInput">
                  <input class="ElGamalKeyEntry" id="ElGamalKeyEntry" placeholder=""></input>
           </div>
           <div>
           <button type="button" class="button1" class="saveElGamalKeyButton" onclick="saveElGamalKey()">
                   {{ .Params.Save }}
           </button>
           </div>
   </div>
   <div class="EVMSepoliagasbox">
     <h1>
       {{ .Params.EVM_Sepolia_gas_boxPrompt }}
     </h1>
     <div class="webflow-style-input" class="marketAPIInput">
       <input class="EVM_Sepolia_Gas_Entry" id="EVM_Sepolia_Gas_Entry" placeholder=""></input>
     </div>
     <div>
     <button type="button" class="button1" class="save_EVM_Sepolia_Gas_Button" onclick="sendSepoliaGasRateUpdate()">
                   {{ .Params.Save }}
     </button>
     <script>
	function sendSepoliaGasRateUpdate() {
		var rate = document.getElementById("EVM_Sepolia_Gas_Entry").value;
		if (rate != "")
		{
			updateEVM_Gas_Config('Rate', rate, 'Sepolia')
		}
	}
     </script>
     </div>
   </div>
   <div class="PrivateClientInitialRESTAPIKeyBox">
     <h1>
       {{ .Params.PrivateClientInitialRESTAPIKeyEntryPrompt }}
     </h1>
     <div class="webflow-style-input" class="marketAPIInput">
       <input class="PrivateClientInitialRESTAPIKeyEntry" id="PrivateClientInitialRESTAPIKeyEntry" placeholder=""></input>
     </div>
     <div>
     <button type="button" class="button1" class="PrivateClientInitialRESTAPIKeySubmitButton" onclick="submitPrivateClientRESTAPIKey()">
                   {{ .Params.Save }}
     </button>
     <script>
       function submitPrivateClientRESTAPIKey() {
       		var key = document.getElementById("PrivateClientInitialRESTAPIKeyEntry").value;
		if (key != "")
		{
				     manualAddPrivateAcceptedClientAPIKeytoLocalStorage(key)
			//TODO implement user manually add Private Client RESTAPI key to local storage function 
		}
       }
     </script>
     </div>
   </div>
   <div class="ReloadDiv" id="ReloadDiv">
     <h1>
	     {{ .Params.reloadprompt }}
     </h1>
     <button type="button" class="button1" class="ReloadButton" onclick="POST_ReloadAllSwapStates()">
		{{ .Params.reloadbutton }}
     </button>
   </div>
  </div>
 </body>
{{ partial "footer.html" . }}
