{{ $simplemarketstyles := resources.Get "css/simplemarket.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $simplemarketstyles.Permalink }}" media="screen"/>
{{ $buttonstyles := resources.Get "css/buttons.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $buttonstyles.Permalink }}" media="screen"/>
{{ $dropdownstyles := resources.Get "css/dropdowns.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $dropdownstyles.Permalink }}" media="screen"/>
{{ $checkboxstyles := resources.Get "css/checkboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $checkboxstyles.Permalink }}" media="screen"/>
{{ $inputboxstyles := resources.Get "css/inputboxes.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $inputboxstyles.Permalink }}" media="screen"/>
{{ $scrollbarstyles := resources.Get "css/scrollbars.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $scrollbarstyles.Permalink }}" media="screen"/>
{{ $marketjs := resources.Get "js/market.js" }}
<script src="{{ $marketjs.Permalink }}"></script>
{{ $pricetoolsjs := resources.Get "js/price_tools.js" }}
<script src="{{ $pricetoolsjs.Permalink }}"></script>
{{ $cryptographyjs := resources.Get "js/cryptography.js" }}
<script src="{{ $cryptographyjs.Permalink }}"></script>
{{ $localstoragejs := resources.Get "js/localstorage.js" }}
<script src="{{ $localstoragejs.Permalink }}"></script>
{{ $RESTinteractionsjs := resources.Get "js/REST_interactions.js" }}
<script src="{{ $RESTinteractionsjs.Permalink }}"></script>
{{ $ElGamaljs := resources.Get "js/ElGamal.js" }}
<script src="{{ $ElGamaljs.Permalink }}"></script>
{{ $onload_marketjs := resources.Get "js/onload_market.js" }}
<script src="{{ $onload_marketjs.Permalink }}"></script>
{{ $activeSwapModaljs := resources.Get "js/activeSwapModal.js" }}
<script src="{{ $activeSwapModaljs.Permalink }}"></script>
{{ $activeSwapSliderjs := resources.Get "js/activeSwapSlider.js" }}
<script src="{{ $activeSwapSliderjs.Permalink }}"></script>
{{ $orderRepListjs := resources.Get "js/orderRepList.js" }}
<script src="{{ $orderRepListjs.Permalink }}"></script>
{{ $swapClaimingjs := resources.Get "js/swapClaiming.js" }}
<script src="{{ $swapClaimingjs.Permalink }}"></script>
{{ $settingsjs := resources.Get "js/settings.js" }}
<script src="{{ $settingsjs.Permalink }}"></script>
{{ partial "header.html" . }}
<body>
{{ .Content }}
<div class="simpleSwapMainDiv" id="simpleSwapMainDiv">
	<div class="sellBox" id="sellBox">
		<h1> Sell </h1>
		<div class="inputAndCoinSelectorDiv", id="inputAndCoinSelectorDiv">
			<input value="0.0" type="number" class="sellAmountInput" id="sellAmountInput"></input>
			<div class="sellCoinSelector" id="sellCoinSelector">
				{{ $sepolia := resources.Get "images/Sepolia-Ethereum-Logo-PNG-tranparentBG.png" }}
				<img src="{{ $sepolia.Permalink }}" class="sepoliaCheckboxImage" id="sepoliaCheckboxImage">
				<h1>sepETH</h1>
			</div>
		</div>
	</div>
	<div class="buyBox" id="buyBox">
		<h1> Buy </h1>
		<div class="inputAndCoinSelectorDiv", id="inputAndCoinSelectorDiv">
			<input value="0.0" type="number" class="buyAmountInput" id="buyAmountInput"></input>
			<div class="buyCoinSelector" id="buyCoinSelector">
				{{ $ergo := resources.Get "images/ErgoTestnetTransparentWhite.png" }}
			        <img src="{{ $ergo.Permalink }}" class="ergoTestnetCheckboxImage">
				<h1>testERG</h1>
			</div>
		</div>
        </div>
</div>
</body>
{{ partial "footer.html" . }}
