body{
	background-color: black;
}
div{
	border-radius: 40px;
	padding: 0 auto;
	margin: 1%;
	text-align: center;
}
.bodydiv{
	display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
	border: 1px solid white;
	box-shadow: 0 4px 6px 0 white, 0 4px 6px 0 white;
}
.grid-container{
	width: 75%;
	border: 2px solid white;
	box-shadow: 0 2px 3px 0 white, 0 2px 3px 0 white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 10px;
}
.login-grid-container{
        border: 2px solid white;
        box-shadow: 0 2px 3px 0 white, 0 2px 3px 0 white;
        display: grid;
        grid-template-columns:repeat(4, 1fr); 
        grid-gap: 2%;
}
.initialize-grid-container{
	width: 55%;
        border: 2px solid white;
        box-shadow: 0 2px 3px 0 white, 0 2px 3px 0 white;
        display: grid;
	grid-template-rows: repeat(1, 1fr);
        grid-gap: 0%;
}
.api-grid-container{
	border: 2px solid white;
        box-shadow: 0 2px 3px 0 white, 0 2px 3px 0 white;
        display: grid;
        grid-template-columns:repeat(3, 1fr); 
        grid-gap: 2%;
}
.activeSwaps{
	border: 2px solid white;
        box-shadow: 0 2px 3px 0 white, 0 2px 3px 0 white;
/*	max-height: 20rem;*/
	max-width:auto;
	width: 16rem; /* Set the width of the container */
	overflow-x: hidden;
  overflow-x: hidden; /* Hide vertical scrolling */
  white-space: nowrap;
	display: grid;
        grid-template-rows: 1fr 9fr;
	justify-content: center;
	    padding: 4;
    overflow: hidden;


}



.activeSwapSlider::-webkit-scrollbar {
  width: 2px;               /* width of the entire scrollbar */
}

.activeSwapSlider::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.activeSwapSlider::-webkit-scrollbar-thumb {
  background-color: transparent;  /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid transparent;  /* creates padding around scroll thumb */
}

.activeSwaps h1{
	font-size: 25px;
}
.activeSwaps h2{
	display: inline-block; /* Make sure images and headings behave as inline elements */
  vertical-align: middle; /* Align them vertically in the middle */
  font-size: 15px;
  margin: auto;
}
.activeSwapSlider{
	margin: 0% ;
	border-radius: 0;
	overflow-x: hidden;
	overflow-y: auto;
	flex-direction: column;
}
.activeSwapSlider img,
.activeSwapSlider h1{
	display: inline-block; /* Make sure images and headings behave as inline elements */
  vertical-align: middle; /* Align them vertically in the middle */
  margin: 1%;
}

.marketFocusContainer{
	display: flex;
      flex-direction: row;
	height: 25em;
}

.activeSwapTemplate{
	padding: 1%;
	background: #546E7A;
	width: 15rem;
	height: auto;
	    margin:5;
}
.activeSwapTemplate img{
    width:  25;
    height: 25;
}

.market-grid-container{
	border: 2px solid white;
        box-shadow: 0 2px 3px 0 white, 0 2px 3px 0 white;
	display: grid;
	grid-template-rows: auto;
	height: auto;
}
.marketOrderInfoContainer{
	border: 2px solid white;
        box-shadow: 0 2px 3px 0 white, 0 2px 3px 0 white;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 0%;
	box-sizing: border-box; /* Include borders and padding in the total height */
}

.marketOrderInfoSlider{
        border-radius: 0;
        overflow-x: hidden;
        overflow-y: auto;
        flex-direction: column;
        justify-content: center;
	box-sizing: border-box;
	height: 15rem;
}

.marketOrderInfoSlider::-webkit-scrollbar {
  width: 2px;               /* width of the entire scrollbar */
}

.marketOrderInfoSlider::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.marketOrderInfoSlider::-webkit-scrollbar-thumb {
  background-color: transparent;  /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid transparent;  /* creates padding around scroll thumb */
}


.swapClaimWindow{
	border: 2px solid white;
        box-shadow: 0 2px 3px 0 white, 0 2px 3px 0 white;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0%;
	justify-content: center;
	align-items: center;
	font-size: 75%;
/*	display: none;*/
	visibility: hidden;
}
.marketOrderInfoHeaderContainer{
	display: grid;
        grid-template-columns:repeat(6, 1fr);
	font-size: 60%;
}
.individualMarketOrderContainer{
	border: 1px solid white;
        box-shadow: 0 1px 4px 0 white, 0 1px 4px 0 white;
	display: grid;
        grid-template-columns:repeat(6, 1fr); 
        font-size: 40%;
justify-content: center;
align-items: center;
	
}

.individualMarketOrderContainer:hover{
	background-color: #262626;
	box-shadow: 0 1px 3px 0 white, 0 1px 3px 0 white;
}

.individualMarketOrderContainer:active{
        background-color: #373a3f;
	box-shadow: 0 1px 0px 0 white, 0 0px 0px 0 white;
}

body::-webkit-scrollbar {
  width: 2px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #99ff33;  /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid transparent;  /* creates padding around scroll thumb */
}

.marketWidgetsContainer{
	display: grid;
        grid-template-columns:4fr 8fr;
	height: auto;
}
.marketCoinSelectorContainer{
	border: 2px solid white;
        box-shadow: 0 2px 3px 0 white, 0 2px 3px 0 white;
        display: grid;
/*        grid-template-rows: repeat(3, 1fr);*/
        grid-gap: 0%;
	    padding: 2%;


}
.marketCoinSelectorContainer img{
	width: 25;

}
.ergoAccountSetupBox{
	display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.apiSetupPromptContainer{
	display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}
.submitAPISetupContainer{
	display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
font-size: 75%;
}
.apiURLInputContainer{
	display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
 .loginPanel{
}
.initializeAccountPanel{
}

.logo{
	width: 10%;
	height:auto;
}
/*title*/
h1{
	font-family:  Arial, Helvetica, sans-serif;
	color: white;
	text-align: center;
}
h2{
	font-family:  Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
}
h3{
        font-family:  Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
}
/*subtitle*/
p{
	font-family:  Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;
}
.checkboxholder{
	display: flex;
}
.checkboxErgoTestnet{
/*margin-top: 50%;
  margin-bottom: 50%;*/
	display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
  text-align: center;
}
.checkboxSepolia{
	display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
  text-align: center;

	text-align: center;
}
.ergoTestnetCheckboxImage{
	width: 50%;
        height:auto;
}
.sepoliaCheckboxImage{
	width: 33%;
        height:auto;
}
.loginbuttonbox{
	margin-top: 50%;
  margin-bottom: 50%;
}
.accountNameSetupBox{
	margin: 0;
}
.apiSetupPromptContainer{
	font-size: 80%;
}

.saveElGamalKeybuttonbox{
	display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
  text-align: center;
  border: 1px solid white;
  max-width: 100%;
  border-radius: 10px;
        box-shadow: 0 1px 2px 0 white, 0 1px 2px 0 white;
        font-size: 75%;
}

.EVMSepoliagasbox{
display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
  text-align: center;
  border: 1px solid white;
  max-width: 100%;
  border-radius: 10px;
        box-shadow: 0 1px 2px 0 white, 0 1px 2px 0 white;
        font-size: 75%;
}


.deletelocalstoragebuttonbox{
	display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
  text-align: center;
  border: 1px solid white;
  max-width: 100%;
  border-radius: 10px;
        box-shadow: 0 1px 2px 0 white, 0 1px 2px 0 white;
	font-size: 75%;
}
