/* CSS HEX */
:root{
	--van-dyke: #484041ff;
	--space-cadet: #192A51;
	--delft-blue: #434371ff;
	--cambridge-blue: #79aea3ff;
	--light-green: #70ee9cff;
	--green-yellow: #b5f44aff;
	--darker-night: #080a0c;
	--slightly-darker-night: #0b0d0e;
	--night: #121619;
	--dark-grey: #1d1b1b;
	--lighter-grey: #403a3a;
	--super-light-grey: #a3acb2;
}

* {
}

body{


	margin: 0;
	display: flex;
	flex-direction: column;
        background-color: black;
	font-family: Arial;	
}


div{
        padding: 0 auto;
        margin: 0.5%;
}

/* Styles for the overlay menu */
#swap-settings-overlay-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black overlay */
	backdrop-filter: blur(1.5px);
	display: none; /* Initially hidden */
	z-index: 1000; /* Ensure it's on top of other content */

	
}
#swap-settings-overlay-menu h1, h2, h3{
	text-align: left;
	color: var(--super-light-grey);
	padding-left: 5;
}
.overlay-content {
	position: absolute;
	top:25%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	 
}

.main-content {
	text-align: center;
}

/* Transition animation for the menu */
#swap-settings-overlay-menu.open {
	display: flex;
	animation: fadeIn 0.1s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.addNewMarkets, .marketChoiceSetting, .autoClaimSetting{
	border-radius: 9px;
	border: 1px solid black;
	background-color: var(--night);
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: fit-content;
}
.addNewMarkets h2, .marketChoiceSetting h2, .autoClaimSetting h2{
	text-align: left;
	padding-right: 100px;
	font-size: 1em;
}
.addNewMarkets h3, .marketChoiceSetting h3, .autoClaimSetting h3{
	font-size: .8em;
}
.checkboxholder{
        display: flex;
}

.autoClaimCheckbox{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.navbar {
	background-color: rgba(50, 50, 50, 0.5); /* Transparent grey color */
	overflow: hidden;
	width: 100%;
	margin: 0;
}
.navbar a {
	float: left;
	height: 100%;
	color: white;
	text-align: center;
	margin: 0;
	padding: 25px 25px;
	text-decoration: none;
	font-size: 22px;
}
.navbar a:hover {
	background-color: rgba(100, 100, 100, 0.5); /* Darker transparent grey on hover */
}

.navleft{
	margin: 0;
}

.navright{
	margin: 0;
}
.navright a{
	float: right;
        height: 100%;
        display: block;
        color: white;
        text-align: center;
        margin: 0;
        padding: auto auto ;
        text-decoration: none;
        font-size: 22px;
}

a.ergodiscord svg{
	width: fit-content;
	color: var(--super-light-grey)
}

img.logo{
	height: fit-content;
	width: 30;
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.ergoTestnetCheckboxImage{
        width: 25;
        height:27;
}
.sepoliaCheckboxImage{
        width: 25;
        height:27;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* makes sure number type inputs dont have a scroll/spin button*/

.simpleSwapContainerDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1.title {
	text-align: left;
        font-size: 70;
	font-family: Arial;/*Inter;  Roboto;*/
        color: var(--super-light-grey);
}

.simpleSwapToolBar{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	padding: 10px;
	direction: rtl;
}

.swapSettingsButton{
	border-radius: 5px;
	width: fit-content;
	margin-right:20%;
	padding: 1;
	background-color: transparent;
	border: 0px solid transparent;
}
.swapSettingsButton{
	color: var(--lighter-grey);
}
.swapSettingsButton:hover{
	color: var(--super-light-grey);
}

.simpleSwapMainDiv{
	border-radius: 15px;
	padding: 6px; /* Adjust as needed */
	display: grid;
	width: auto;
	background-color: var(--darker-night);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    /*makes the background of autofill suggestions transparent instead of default white which interferes w dark theme*/
}

.simpleBuySellTitle{
	margin-right: 62%;
}
.CoinA_AccountSelectorButton{
	background-color: transparent;
	border: transparent;
	border-radius: 1;
}
form.selectAccount{
	width: 9rem;
}
form.selectAccount input{
	border-radius: 10px;
	background-color: transparent;
}
form.selectAccount li{
	z-index: 1;
	border-radius: 6px;
}
.titleAndAccountSelectorDiv{
	display: flex;
        flex-direction: row;
}

.sellBox{
	background-color: var(--night);
	border-radius: 8px;
	padding: 1px; /* Adjust as needed */
        display: grid;
}
.sellBox h1{
	color: var(--super-light-grey);
	text-align: left;
	margin: 1px;
	font-size:.9em;
	padding: 3px;
}

.inputAndCoinSelectorDiv{
	display: flex;
	flex-direction: row;
	
}

.sellAmountInput{
	color: var(--super-light-grey);
	width: 85%;
	text-align: left;
	margin: 0;
	padding: 5px;
	font-size: 2em;
}

.sellCoinSelector{
	border-radius: 16px;
	border: 1px solid var(--dark-grey);
	padding: 7px;
	height: fit-content;
	display: flex;
	background-color: var(--slightly-darker-night);
}
.sellCoinSelector h1{
	color: var(--super-light-grey);
	font-size: 1.15em;
}
.sellCoinSelector:hover{
	background-color: var(--dark-grey);
}
.sellCoinSelector:active{
        background-color: var(--lighter-grey);
}

.switchCoinsDiv{
	border-radius: 12px;
	height: 45px;
	width: 45px;
	position: relative;
	margin: -25px auto;
	background-color: var(--night);
	border: 4px solid var(--darker-night);
	z-index: 2;
}
.switchCoinsDiv svg{
	color: var(--super-light-grey);
}

.switchCoinsButton{
	border-radius: 5px;
	height: 45px;
	width: 45px;
	background-color: var(--night);
	border: 0px solid transparent;
}
.switchCoinsButton:hover{
	background-color: var(--slightly-darker-night);
}
.switchCoinsButton:active{
	background-color: var(--darker-night);
}

.buyBox{
	background-color: var(--night);
	border-radius: 8px;
        padding: 1px; /* Adjust as needed */
        display: grid;
}
.buyBox h1{
	color: var(--super-light-grey);
	text-align: left;
        margin: 1px;
	height: auto;
        font-size:.9em;
        padding: 3px;
}

.buyAmountInput{
	color: var(--super-light-grey);
        text-align: left;
        margin: 0;
        padding: 5px;
        font-size: 2em;
	width: 85%;
}

.buyCoinSelector{
        border-radius: 16px;
        border: 1px solid var(--dark-grey);
        padding: 7px;
        height: fit-content;
	display: flex;
	background-color: var(--slightly-darker-night);
}
.buyCoinSelector h1{
        color: var(--super-light-grey);
        font-size: 1.15em;
}
.buyCoinSelector:hover{
        background-color: var(--dark-grey);
}
.buyCoinSelector:active{
        background-color: var(--lighter-grey);
}

.swapButton{
	border-radius: 9px;
        border: 1px solid var(--lighter-grey);
	background-color: var(--space-cadet);
	padding-left: 150;
	padding-right: 150;
}
.swapButton h1{
	color: var(--super-light-grey);
	margin: 0;
	padding: 5;
}
.swapButton:hover{
	border: 1px solid var(--dark-grey);
}
.swapButton:active{
        background-color: var(--delft-blue);
	border: 1px solid var(--night);
}
